body {
  margin-top: 60px;
  margin-bottom: 30px; }

.select2-container .select2-selection--single {
  height: 38px;
  line-height: 38px; }

.select2-selection__rendered {
  padding-top: 4px; }

.for-table {
  max-height: 600px;
  overflow-y: auto; }
