extends ../layouts/default
block content
  h2 Users#index
  .card.bg-light.mb-3
    table.table.table-striped.table.bordered.table-hover
      tr
        th 名前
        th ログインID
      each user in users
        tr
          td
            a(href=`/users/${user.id}/edit`) #{user.name}
          td #{user.login_id}
  .text-center
    a(href=`/users/new`).btn.btn-info 新規登録
